.reading-list {
  width: 100%;
  max-width: 100%; /* Se ajusta para usar todo el ancho disponible en dispositivos pequeños */
  margin-right: 20px; /* Ajustado para consistencia en todos los tamaños */
  padding: 15px; /* Ajuste moderado para dispositivos móviles */
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
}

.reading-list ul {
  list-style-type: none; /* Remueve los estilos de lista por defecto */
  padding: 0;
  margin: 0;
}

.reading-list li {
  display: flex;
  align-items: center; /* Alinea los elementos del ítem verticalmente */
  margin-bottom: 10px; /* Espacio entre ítems de la lista */
}

.book-image {
  width: 60px; /* Ajustado para visibilidad mejorada en dispositivos móviles */
  height: auto;
  margin-right: 10px;
  border-radius: 4px;
}

.remove-button {
  margin-left: auto; /* Empuja el botón hacia la derecha */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px; /* Ajusta esto según necesites */
}

.remove-button:hover {
  color: red; /* Cambia el color al pasar el mouse para indicar acción */
}

@media (max-width: 480px) {
  .reading-list {
    margin: 0; /* Optimización del uso del espacio */
    padding: 10px; /* Espacio interior reducido */
    max-width: 100%; /* Se ajusta para ocupar el ancho completo */
  }

  .book-image {
    width: 40px; /* Más ajustes para mejorar la visibilidad en pantallas muy pequeñas */
  }

  .remove-button {
    font-size: 14px; /* Adecuado para facilidad de clic en pantallas pequeñas */
  }

  .reading-list li div p {
    font-size: 12px; /* Reducción adicional para texto del género */
  }
}