.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
}

.header-title {
  font-size: 24px; /* Ajusta según lo necesites */
  text-align: center;
  margin-bottom: 20px;
}

.header-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.search-container {
  flex: 1;
  margin-right: 10px; /* Asegura algo de espacio entre los elementos */
}

.filters-container {
  flex: 1;
}

/* Estilos para SearchBar y Filters deberían ser adecuadamente responsivos dentro de sus componentes */

@media (max-width: 768px) {
  .header-filters {
    flex-direction: column;
    align-items: center;
  }

  .search-container,
  .filters-container {
    width: 100%; /* Ocupan todo el ancho disponible */
    margin-right: 0; /* Remover margen derecho para el search-container en vista móvil */
    margin-bottom: 10px; /* Espacio entre search y filters en vista móvil */
  }

  .header-title {
    font-size: 20px; /* Ligeramente más pequeño para pantallas pequeñas */
    color: black;
  }
}
