.book {
  display: grid;
  grid-template-areas: "cover" "details" "options";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 100%;
}

.book:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.book__cover {
  grid-area: cover;
  margin-bottom: 10px;
  position: relative;
}

.book__cover-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.book__options {
  grid-area: options;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.book__details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centramos el contenido verticalmente */
}

.book__title {
  color: #333;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book__author {
  color: #666;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book__info {
  display: flex;
  align-items: center;
  color: #999;
  justify-content: center; /* Centramos el contenido verticalmente */
}

.book__genre,
.book__pages {
  padding: 5px 10px;
  border-radius: 5px;
}

.book__genre {
  background-color: var(--genre-color);
}

.book__pages {
  background-color: #ddd;
  margin-left: 10px;
}

:root {
  --fantasy-color: #f0e68c;
  --sci-fi-color: #add8e6;
  --horror-color: #ff6347;
  --romance-color: #ffb6c1;
  --mystery-color: #c0c0c0;
  --default-color: #ddd;
}

.book__genre[genre="Fantasía"] {
  background-color: var(--fantasy-color);
}

.book__genre[genre="Ciencia ficción"] {
  background-color: var(--sci-fi-color);
}

.book__genre[genre="Terror"] {
  background-color: var(--horror-color);
}

.book__genre[genre="Romance"] {
  background-color: var(--romance-color);
}

.book__genre[genre="Misterio"] {
  background-color: var(--mystery-color);
}

.book__genre:not([genre]) {
  background-color: var(--default-color);
}

@keyframes flyRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}



@media (max-width: 768px) {
  .book {
    grid-template-areas:
      "cover"
      "details"
      "options";
    padding: 10px; /* Reducir el padding en dispositivos más pequeños */
  }

  .book__cover-img {
    height: auto; /* Ajustar para que la altura sea automática y la imagen mantenga su aspecto */
  }

  .book__details,
  .book__options {
    text-align: center; /* Centrar el contenido para una mejor visualización en pantallas pequeñas */
  }

  .book__details-title,
  .book__details-author,
  .book__details-meta {
    font-size: 90%; /* Reducir el tamaño del texto para adaptarse a pantallas más pequeñas */
  }

  .book__options-button {
    padding: 8px 12px; /* Ajustar el tamaño del botón para que sea más fácil de tocar */
    font-size: 0.8rem; /* Reducir el tamaño de la fuente del botón */
  }

  /* Ajustar los géneros para que no ocupen demasiado espacio */
  .book__genre,
  .book__pages {
    padding: 3px 6px;
    font-size: 0.8rem;
  }
  .books-container {
    grid-template-columns: repeat(2, 1fr); /* Cambio a 2 columnas para pantallas más pequeñas */
    grid-gap: 10px; /* Mantenemos el espacio entre los libros */
  }
}
